@font-face {
  font-family: 'Good Unicorn';
  src: url("/src/fonts/GoodUnicorn-Regular.eot");
  src: url("/src/fonts/GoodUnicorn-Regular.eot?#iefix") format("embedded-opentype"), url("/src/fonts/GoodUnicorn-Regular.woff2") format("woff2"), url("/src/fonts/GoodUnicorn-Regular.woff") format("woff"), url("/src/fonts/GoodUnicorn-Regular.ttf") format("truetype"), url("/src/fonts/GoodUnicorn-Regular.svg#GoodUnicorn-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Nueva Std';
  src: url("/src/fonts/nueva/NuevaStd-Bold.eot");
  src: url("/src/fonts/nueva/NuevaStd-Bold.eot?#iefix") format("embedded-opentype"), url("/src/fonts/nueva/NuevaStd-Bold.woff2") format("woff2"), url("/src/fonts/nueva/NuevaStd-Bold.woff") format("woff"), url("/src/fonts/nueva/NuevaStd-Bold.ttf") format("truetype"), url("/src/fonts/nueva/NuevaStd-Bold.svg#NuevaStd-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Nueva Std Bold Condensed';
  src: url("/src/fonts/nueva/NuevaStd-BoldCond.eot");
  src: url("/src/fonts/nueva/NuevaStd-BoldCond.eot?#iefix") format("embedded-opentype"), url("/src/fonts/nueva/NuevaStd-BoldCond.woff2") format("woff2"), url("/src/fonts/nueva/NuevaStd-BoldCond.woff") format("woff"), url("/src/fonts/nueva/NuevaStd-BoldCond.ttf") format("truetype"), url("/src/fonts/nueva/NuevaStd-BoldCond.svg#NuevaStd-BoldCond") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
p {
  margin-top: 8vw;
  text-align: center;
  font-size: 5vw;
  color: #000000; }

.page {
  width: 30vw;
  float: left;
  margin-bottom: 0.5em;
  background: #111111 no-repeat left top;
  background-size: cover; }

.page:nth-child(even) {
  clear: both; }

.book {
  perspective: 250vw;
  display: none; }

.book .pages {
  width: 90vw;
  margin: auto;
  position: relative;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  border-radius: 4px;
  /*box-shadow: 0 0 0 1px #e3dfd8;*/ }

.book .page {
  float: none;
  clear: none;
  position: absolute;
  top: 0;
  width: 45vw;
  height: 450px;
  transform-origin: 0 0;
  transition: transform 1.4s;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  cursor: pointer;
  user-select: none;
  background-color: #f0f0f0;
  margin-bottom: 20px; }
  .book .page img {
    display: block;
    height: 100%;
    width: 100%; }

.book .page:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
  transition: background 0.7s;
  z-index: 2; }

.book .page:nth-child(odd) {
  pointer-events: all;
  transform: rotateY(0deg);
  right: 0;
  border-radius: 0 4px 4px 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 10%); }

.book .page:nth-child(odd):hover {
  transform: rotateY(-15deg); }

.book .page:nth-child(odd):hover:before {
  background: rgba(0, 0, 0, 0.03); }

.book .page:nth-child(odd):before {
  background: rgba(0, 0, 0, 0); }

.book .page:nth-child(even) {
  pointer-events: none;
  transform: rotateY(180deg);
  transform-origin: 100% 0;
  left: 0;
  border-radius: 4px 0 0 4px;
  border-color: black;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.12) 0%, rgba(0, 0, 0, 0) 10%); }

.book .page:nth-child(even):before {
  background: rgba(0, 0, 0, 0.2); }

.book .page.grabbing {
  transition: none; }

.book .page.flipped:nth-child(odd) {
  pointer-events: none;
  transform: rotateY(-180deg); }

.book .page.flipped:nth-child(odd):before {
  background: rgba(0, 0, 0, 0.2); }

.book .page.flipped:nth-child(even) {
  pointer-events: all;
  transform: rotateY(0deg); }

.book .page.flipped:nth-child(even):hover {
  transform: rotateY(15deg); }

.book .page.flipped:nth-child(even):hover:before {
  background: rgba(0, 0, 0, 0.03); }

.book .page.flipped:nth-child(even):before {
  background: rgba(0, 0, 0, 0); }

.page:nth-child(odd) {
  background-position: right top; }

.books_collection {
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: pink; }
  .books_collection .story {
    width: 100%;
    height: 300px;
    display: flex; }
    .books_collection .story > div {
      height: 300px;
      width: 300px;
      margin: auto;
      text-align: center;
      padding: 0 15px; }
      .books_collection .story > div img {
        display: block;
        width: 100%;
        height: 100%; }
      .books_collection .story > div p {
        width: 100%;
        font-family: 'Good Unicorn';
        font-size: 18px;
        margin-top: 5px;
        text-align: center; }

/*# sourceMappingURL=book.css.map */
