@import "fonts";
.intro_text{
  display: none;
  font-family: "Nueva Std Bold Condensed";
  font-size: 48px;
  line-height: 45px;
  position: absolute;
  bottom: 15%;
  right: 20%;
  z-index: 3;
  height: 60%;
  width: 22%;
}
#user_name{
  display: none;
  font-family: "Nueva Std Bold Condensed";
  font-size: 48px;
  line-height: 45px;
  position: absolute;
  bottom: 30%;
  right: 25%;
  z-index: 3;
  width: 100%;
  max-width: 200px;
  background-color: #fcdbe1;
  padding-left: 15px;
}
.intro{
  height: 100vh;
  background-size: cover;
 .intro_img{
   width: 100%;
   height: 100vh;
   img{
     display: block;
     width: 100%;
     height: 100%;
   }
 }
  .intro_btn{

    img{
      display: block;
      width: 100%;
      height: 100px;
    }

    .intro_next{
      cursor: pointer;
      position: absolute;
      bottom: 5%;
      right: 5%;
    }
    .intro_okay{
      font-family: "Nueva Std Bold Condensed";
      cursor: pointer;
      position: absolute;
      bottom: 25%;
      right: 50%;
      padding: 11px 19px;
      background-color: #57e526;
      border: solid 5px black;
      width: 100%;
      max-width: 300px;
      border-radius: 50px;
      font-size: 48px;
      font-weight: 600;
    }
  }
}

